.initial {
  align-items: stretch;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  min-height: 0;
  min-width: 0;
};
