<!DOCTYPE html>
<html<% if (__OFFLINE__) { %> manifest="appcache/manifest.appcache"<% } %>>
  <head>
    <meta charset="utf-8">
    <title>React Native Web</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
  </head>
  <body>
    <div id="react-root"></div>
  </body>
</html>
